
.bodyCategories {
	float: left;
	margin: 0 auto;
	text-align: left;
	color:  #000000;
}

.workouts {
	float: left;
	margin: 0 auto;
	text-align: left;
	color:  #000000;
}

.modWorkouts{
	float: right;
	margin: 0 auto;
	text-align: left;
}

.login{
	text-align: left;
}